ul{
	width: 100px;
	padding: 0px;
	list-style: none;
}
#list{
	width: 120px;
	height: 180px;
	background-color: #f0f0f0;
	border: 1px solid #000;
	overflow: auto;
}

#list.border{
	border-width: 2px;
}