#slideNotice{
	display: none;
	position: absolute;
	height: 50px;
	width: 100%;
	top: 0;
	left: 0;
	background-color: #f0f0f0;
	text-align: center;
}
#slideNotice h3{
	position: relative;
	padding: 0px;
	margin: 0px;
	top: 25%;
}